body {
    font-family: sans-serif;
    background: #eee;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

/* Grid example */
main.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: none;
    margin: 0;
}

.form-grid {
    display: grid;
    flex-direction: row;
    grid-template-columns: 150px minmax(0, 1fr);
    gap: 15px;
    align-items: center;
}

.form-grid>label {
    text-align: right;
    font-weight: bold;
}

aside {
    align-self: start;
    justify-self: center;
}

.flexbox-wrap {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.flexbox {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* Validation feedback */
input,
select,
textarea {
    border: 1px solid #999;
}

input[type="text"]:invalid:not(:placeholder-shown),
input[type="tel"]:invalid:not(:placeholder-shown),
input[type="datetime-local"]:focus:invalid {
    border: 2px solid red;
}

input[type="text"]:valid:not(:placeholder-shown),
input[type="tel"]:valid:not(:placeholder-shown),
input[type="datetime-local"]:valid {
    border: 2px solid green;
}

/* Responsive breakpoint */
@media (max-width: 600px) {
    main.card {
        grid-template-columns: 1fr;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .form-grid>label {
        text-align: left;
    }
}

.grid-table {
    border-collapse: collapse;
    width: 100%;
}

.table-narrow {
    overflow-x: auto;
}

.grid-table tbody tr:nth-child(even) {
    background: #ededed;
}

.grid-table tbody tr:hover {
    background: #d1e7fd;
}

.grid-table caption {
  caption-side: top;
  margin-bottom: 12px;
}

.grid-table thead th {
    text-align: center;
}

.grid-table th,
.grid-table td {
    border: 1px solid #ccc;
    padding: 10px 12px;
}